.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none !important;
    
    input {
      background-color: black;
      color: white;
      padding: 10px;
      border: none;
      margin-bottom: 10px;
      
      &::placeholder {
        color: white;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
